GOOGLE_API_KEY=your_google_api_key_here
GROQ_API_KEY=your_groq_api_key_here

LANGCHAIN_TRACING_V2= true
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY= your_langsmith_api
LANGCHAIN_PROJECT=project_name